/* Base styles */
@import './base/reset';
@import './base/typography';

/* Component styles */
@import './components/action-buttons';
@import './components/brand-buttons';
@import './components/buttons';
@import './components/carousels';
@import './components/cards';
@import './components/menus';

/* Layout styles */
@import './layout/announcement-bar';
@import './layout/articles-section';
@import './layout/benefits-section';
@import './layout/container';
@import './layout/join-community-section';
@import './layout/gradient-container';
@import './layout/header';
@import './layout/hero-section';
@import './layout/hero-section';
@import './layout/offers-section';
@import './layout/quotes-section';
@import './layout/skin-care-section';
@import './layout/testimonials-section';

/* Util styles */
@import './utils/text-highlight';
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/swiper';
@import './utils/svg-styles';

.faqs-section {
  &--intended {
    padding-block: 120px;
  }
  &__hashtag {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    &--bottom-spacing {
      margin-bottom: 12px;
    }
  }
  &__title {
    color: var(--primary-color-dark);
    text-align: center;
    font-family: 'Value Serif Pro';
    font-size: 48px;
    font-weight: 400;
    &--bottom-spacing {
      margin-bottom: 30px;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    border-bottom: 1px solid #dee5ed;
    cursor: pointer;
    &--active {
      .faqs-section__item-plus {
        transform: rotate(45deg);
      }
      .faqs-section__item-answer {
        margin-top: 12px;
      }
    }
    &-plus {
      flex-shrink: 0;
      margin: auto 0;
      transition: transform 0.3s;
    }
    &-question {
      color: var(--primary-color-dark);
      font-family: 'GT Walsheim Pro';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.2px;
    }
    &-answer {
      color: var(--primary-color-low-dark);
      font-family: 'GT Walsheim Pro';
      font-size: 18px;
      font-weight: 400;
      line-height: 1.22;
      letter-spacing: 0.5px;
      max-width: 940px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: height 0.3s, margin-top 0.2s;
    }
  }
  &__more {
    display: flex;
    gap: 12px;
    &-text {
      color: var(--primary-color-dark);
      font-family: 'GT Walsheim Pro';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.2px;
    }
    &-link {
      color: #000;
      font-family: 'GT Walsheim Pro';
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: 0.5px;
      text-decoration-line: underline;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  height: 800px;
  overflow: hidden;
  &__container {
    padding-block: 120px;
    background: url(./../images/footer-bg.png) lightgray 50% / cover no-repeat;
    width: 50%;
    position: relative;
    &-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(255, 255, 255, 0.5);
      z-index: 1;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__img {
    object-fit: cover;
    height: 800px;
    width: 50%;
  }

  &__hashtag {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    &--bottom-spacing {
      margin-bottom: 12px;
    }
  }
  &__title {
    color: var(--primary-color-dark);
    text-align: center;
    font-family: 'Value Serif Pro';
    font-size: 48px;
    font-weight: 400;
    &--bottom-spacing {
      margin-bottom: 12px;
    }
  }
  &__text {
    color: #000;
    text-align: center;
    font-family: 'GT Walsheim Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2px;
  }
  &__socials {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: fit-content;
    margin: 0 auto;
    &-link {
      display: flex;
      gap: 30px;
      align-items: center;
      &-social {
        color: #000;
        font-family: 'GT Walsheim Pro';
        font-size: 28px;
        font-weight: 500;
      }
      &-nickname {
        color: var(--primary-color-dark);
        font-family: 'GT Walsheim Pro';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.46;
      }
    }
  }
  &__rights {
    text-align: center;
    color: #000;
    font-family: 'GT Walsheim Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.46;
  }
}
