.announcement-bar {
  text-align: center;

  &__container {
    padding: 16px 0;
    &--light {
      background-color: #ecf494;
    }
  }

  &__text {
    color: var(--primary-color-dark);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.875;
    letter-spacing: 1px;
  }
}
