.join-community-section {
  &__container {
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(./../images/join-community-img.png) lightgray 50% / cover no-repeat;
    height: 750px;
    padding: 80px 60px 60px 60px;
  }
  &__title {
    color: var(--primary-color-dark);
    font-family: 'Value Serif Pro';
    font-size: 48px;
    font-weight: 400;
    max-width: 638px;
    width: 100%;
    &--intended {
      margin-bottom: 24px;
    }
  }
}
