.brand-button {
  color: var(--primary-color-dark);
  text-align: center;
  font-family: 'GT Walsheim Pro';
  font-weight: 500;
  max-width: 226px;
  width: 100%;
  background: var(--primary-color-brand);
  border-radius: 8px;
  padding-block: 8px;
  box-shadow: 5px 5px 0 0 var(--primary-color-light),
    5px 5px 0 1px var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
}
