.button {
  border-radius: 8px;
  background: var(--primary-color-dark);
  color: var(--primary-color-brand);
  text-align: center;
  font-family: 'GT Walsheim Pro';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}
