.carousel {
  overflow: hidden;
  position: relative;
  &__container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__panel {
    --width: 260px;
    --left: 0;
    display: flex;
    height: 103px;
    border-bottom: 1px solid var(--primary-color-dark);
    margin-bottom: 48px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: var(--left);
      width: var(--width);
      height: 5px;
      background: var(--primary-color-dark);
      z-index: 1;
      transition: width 0.3s, left 0.3s;
    }
  }
  &__control {
    padding-inline: 24px;
    height: 100%;
  }
  &__category {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 100px;
    &-name {
      color: #000;
      font-family: 'Value Serif Pro';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.24px;
      margin-bottom: 4px;
    }
    &-text {
      color: var(--primary-color-low-dark);
      font-family: 'GT Walsheim Pro';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.46;
    }
  }
  &__list {
    display: flex;
    gap: 24px;
  }
  &__card {
    padding: 38px;
    max-width: 370px;
    width: 100%;
    height: auto !important;
    &:last-child {
      margin-right: 20px;
    }
  }
  &-products,
  &-quotes,
  &-benefits {
    &__pagination {
      &-horizontal {
        display: flex;
        justify-content: center;
      }
      &-bullet {
        display: inline-block;
        background-color: transparent;
        border: 1px solid #000;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 8px;
        &:last-child {
          margin: 0;
        }
        &--active {
          background-color: #000;
        }
      }
    }
    &__controller {
      position: absolute;
      top: 50%;
      z-index: 3;
      padding: 13px;
      background-color: #000;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--primary-color-brand);
        .arrow {
          stroke: #000;
        }
      }

      &-disabled {
        display: none;
      }
      &-prev {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
        &:active {
          transform: translateY(-50%) rotate(180deg) scale(0.95);
        }
      }
      &-next {
        right: 2px;
        &:active {
          transform: translateY(-50%) scale(0.95);
        }
      }
    }
  }
}
