@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Poppins/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Poppins/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Monserrat\ Alternates/montserrat-alternates-v17-latin-700.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GT\ Walsheim\ Pro/GTWalsheimPro-Regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Walsheim\ Pro/GTWalsheimPro-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/GT\ Walsheim\ Pro/GTWalsheimPro-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Value Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Value\ Serif/Value\ Serif\ Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Value Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Value\ Serif/Value\ Serif\ Pro\ Medium.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter/inter-v13-latin-500.woff2') format('woff2');
}
